.landing {

    background-image: url("/images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;


}


img {

    display: block;
    margin: 0 auto 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    height: 200px;
}

span {
    display: block;
    flex-direction: column;
    font-size: 30px;
    border: 1px solid rgb(228, 233, 221);
    box-sizing: border-box;
    text-align: center;

}
.one{
    float:left;
    margin: 80px;
    padding: 10px;
    box-shadow: 1px 80px 10px 1px grey;
}
.two{
    display: block;
    justify-content: right;
    margin: 140px;
}
.view{
    padding: 10px;
    box-shadow: 4px 1px 5px 3px #F15A29;
    box-sizing: content-box;
}
.drinks{
    padding-right: 200px;
    float: right;
    display: flex;
    margin-right: 80px;
    padding: 10px;
    box-shadow: 1px 20px 10px 1px grey;
}
.five{
    padding-left: 80px;
    margin: 160px;
}
.footer{
    text-align: center;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h3 { 
    position: center; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    text-align: center;
 }
 .back {
    background-image: url("/images/foodsBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

ul {

    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    padding: 15px;
}

ul li {
    list-style-type: none;
    display: inline;
    padding-left: 40px;

}

ul li a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

ul li a:hover {
    background-color: powderblue;
    text-decoration: flip;
}

ul li a:visited {
    color: #F15A29;
}

ul li a:active {
    font-size: 25px;
    font-family: cursive;
}

.link {
    padding-top: 40px;

}

.pizza {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 40px 1px 500px 300px rgb(253, 253, 253);
    box-sizing: content-box;
    margin-bottom: 100px;


}
.eight{
    
    padding: 20px;
    text-align: center;
    color: #F15A29;
    box-shadow: 1px 2px 30px 20px white;
}
.nine{
    padding: 20px;
    text-align: center;
    color: #F15A29;
    box-shadow: 1px 2px 30px 20px white;
}
.ten{
    padding: 20px;
    text-align: center;
    color: #F15A29;
    box-shadow: 1px 2px 30px 20px white;
}